# NLOS Design System
* @nlos-labs/design-team @nlos-labs/frontend-team

# Design Tokens
/tokens/ @nlos-labs/design-team

# Components
/src/components/ @nlos-labs/frontend-team @nlos-labs/design-team

# Tailwind Config
/tailwind.config.* @nlos-labs/design-team

